<div class="cards-sggestions" id="cards-sggestions" *ngIf="!showNotification">
  <div class="container">
    <div class="row">
      <!-- <app-searchresult *ngFor="let searchResult of searchResults" [suggestion]="searchResult">

      </app-searchresult> -->
      <div class="col-md-4 col-lg-4 col-sm-12 mt-2" *ngFor="let searchResult of searchResults">
          <div class="card card-block">
            <div class="card-body">
              
                <p>
                  <span>Symptoms:</span>
                  <span class="symptoms" *ngFor="let symptom of searchResult.symptoms">{{symptom}}</span>
                </p>
              
              <p>
                <span>Medicines:</span>
                <span class="medicines" *ngFor="let medicine of searchResult.medicines">{{medicine}}</span>
              </p>
              <p>
                <span>Doctors:</span>
                <span class="doctors" *ngFor="let doctor of searchResult.doctors">{{doctor}}</span>
              </p>
              <p>
                <span>Comments:</span>
                <span>{{searchResult.comments[0]}}</span>
              </p>
            </div>
            <div class="card-footer">
              <a href="" class="card-link">Submitted By: </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="alert alert-dismissible fade show" *ngIf="showNotification" role="alert" [ngClass]="className">
  <strong> {{notificationMessage}} </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>