<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" [routerLinkActive]="['active']" [routerLink]="['./home']">MediHelp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <div class="input-group mb-3 navigation-search">

            <input (blur)="unfocusAutoSuggestion()"  (keyup)="resetSuggestions()" [formControl]="searchSuggestionTextBox" [value]="textValue ? textValue : ''"
                type="text" class="form-control input-searchsuggestion" placeholder="Search by medicines, symptoms or doctors"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append search-textbox">
                <button class='btn btn-lg search-suggestion' (click)="onSearch()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="suggestion-autocomplete" [hidden]="!onKeyUp" (focusout)="resetAutoSuggestion()">
                <div *ngIf="suggestions && onKeyUp">

                    <div *ngFor="let medicine of results.medicines">Medicines:<span *ngFor="let item of medicine">
                            <a class="suggestions-link1" [routerLink]="" (mousedown)="fetchSuggestionsData(item)">{{item |
                                commaseperator}}</a></span></div>

                    <div *ngFor="let doctor of results.doctors">Doctors:<span *ngFor="let item of doctor">
                            <a class="suggestions-link1" [routerLink]="" (mousedown)="fetchSuggestionsData(item)">{{item |
                                commaseperator}}</a></span></div>

                    <div *ngFor="let symptom of results.symptoms">Symptoms:<span *ngFor="let item of symptom">
                            <a class="suggestions-link1" [routerLink]="" (mousedown)="fetchSuggestionsData(item)">{{item |
                                commaseperator}}</a></span></div>



                </div>
                <div *ngIf="!suggestions && onKeyUp">No suggestions found</div>
            </div>
        </div>


        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./home']">Home</a> </li>

            <li class="nav-item">
                <a class="nav-link " [routerLinkActive]="['active']" [routerLink]="['./suggestionform']">Give
                    Suggestions</a> </li>
            <li class="nav-item">
                <a class="nav-link " [routerLinkActive]="['active']" [routerLink]="['./aboutme']"> About Me</a> </li>
        </ul>
    </div>
</nav>