<div class="about" id="about">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="assets/images/myself.jpg" class="img-fluid">
                <span class="text-justify">Web Devloper</span>
            </div> -->
            <div class="col-lg-8 col-md-8 col-sm-12 desc">

                <h3>Kumar Shantnu</h3>
                <p>
                    Web developer | Freelancer | Passion for Tech | Problem Solver | Lifelong learner | Football fan | Believer of "Oops" than a "What if"
                </p>
                <p>
                    You can reach out to me on:

                </p>
                <ul>
                    <li>
                        <a mailto="mailtoshantnu@gmail.com">mailtoshantnu@gmail.com</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/kumar-shantnu/">linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>