<!-- <header class="header">
    <div class="overlay"></div>
    <div class="container">
        <div class="description ">
            <div clas="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h1> Hello ,Welcome To MediHelp
                    </h1>
                    <h2>
                        <p>
                            Sharing is Caring. MediHelp is based on the same principle.
                        </p>
                    </h2>
                    <h2>
                        <p>Watch the video to know how you can help and be helped !!</p>
                    </h2>
                </div>
                 <div class="col-lg-8 col-md-8 col-sm-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6wD4V0rvlDI" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div> 
            </div>


        </div>
    </div>
</header> -->

<header class="header">
    <div><div class="overlay"></div>
    <div class="container">
        <div class="description">
            <div clas="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h1> Hello ,Welcome To MediHelp </h1>
                        <p> Sharing is Caring. MediHelp is based on the same principle.
                        </p>
                        <button class="btn btn-outline-secondary btn-lg">See more</button> 
                </div>
                
            </div>
            
        </div>
    </div></div>
</header>