<!-- <div class="card card-block">
  <h3>
    <p>
      <span>Symptoms:</span>
      <span class="badge badge-secondary" *ngFor="let symptom of searchResult.symptoms">{{symptom}}</span>
    </p>
  </h3>
  <p>
    <span>Medicines:</span>
    <span *ngFor="let medicine of searchResult.medicines">{{medicine}}</span>
  </p>
  <p>
    <span>Doctors:</span>
    <span *ngFor="let doctor of searchResult.doctors">{{doctor}}</span>
  </p>
  <p>
    <span>Comments:</span>
    <span>{{comments}}</span>
  </p>
</div> -->



      <!-- <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card card-block">
          <div class="card-body">
            
              <p>
                <span>Symptoms:</span>
                <span class="symptoms" *ngFor="let symptom of searchResult.symptoms">{{symptom}}</span>
              </p>
            
            <p>
              <span>Medicines:</span>
              <span class="medicines" *ngFor="let medicine of searchResult.medicines">{{medicine}}</span>
            </p>
            <p>
              <span>Doctors:</span>
              <span class="doctors" *ngFor="let doctor of searchResult.doctors">{{doctor}}</span>
            </p>
            <p>
              <span>Comments:</span>
              <span>{{comments}}</span>
            </p>
          </div>
          <div class="card-footer">
            <a href="" class="card-link">Submitted By: </a>
          </div>
        </div>
      </div> -->

  