
<!-- <app-navigation></app-navigation>
<app-header></app-header> -->
<!-- <div class="outerdiv">
    
  <app-searchbar (searchClickEvent) = "searchEventOutput($event)" ></app-searchbar>
  <app-notification-alert *ngIf="showNotification" [className] = "className" [notificationMessage] = "notificationMessage"></app-notification-alert>
  <app-searchresultlist *ngIf = "!showForm" [searchResults] = "searchResults"></app-searchresultlist>
  <div><button *ngIf = "!showForm" type="button" class="btn btn-primary" (click) = "redirectBackToForm()">Back</button>
    <app-submissionform *ngIf = "showForm" (backToFormViewClick) = "backToFormViewClickEvent($event)"
     (submissionClickEvent) = "submissionEventOutput($event)"></app-submissionform>
    </div>
</div> -->

<app-navigation></app-navigation>
<div>
    <router-outlet></router-outlet>
</div>